/* Google font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: #202124;
  color: #fff;
}

/* Basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.google-homepage {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.google-header {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px;
  font-size: 13px;
}

.google-menu span {
  margin-left: 20px;
  color: white;
  cursor: pointer;
}
.google-menu span a {
  color: white;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
.google-menu span:nth-child(n + 3) {
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 50%;
  font-size: 20px;
  transition: all linear 0.2s;

  &:hover {
    background-color: #303134;
  }
}

.google-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}

.google-logo-main {
  width: 17rem;
  margin-bottom: 30px;
}

.search-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Input-container {
  border: 1px solid #dfe1e5;
  border-radius: 25px;

  &:hover {
    background-color: #303134;
  }
}

.search-input {
  width: 470px;
  padding: 15px;
  border-style: none;
  background-color: transparent;
  color: #fff;
  outline: none;
  font-size: 16px;
}
.search-input:focus {
  background-color: #303134;
  color: #fff;
}
.searchIcon {
  padding: 15px;
  font-size: 16px;
  border-style: none;
  cursor: pointer;
}
.extra-icons {
  padding: 5px 15px;
  font-size: 20px;
  cursor: pointer;
}
.clear-icon {
  border-right: 1px solid #dfe1e5;
}

.search-buttons {
  margin-top: 20px;
}

.search-buttons button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #303134;
  color: #fff;
  cursor: pointer;
}

.language-options {
  margin-top: 20px;
  font-size: 13px;
}

.language-options a {
  color: #99c3ff;
  margin-right: 10px;
  text-decoration: none;
  font-size: 14px;
}

.google-footer {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  background-color: #171717;
  color: #9aa0a6;
}

.google-footer a {
  margin-left: 1.2rem;
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.google-footer a:hover {
  text-decoration: underline;
}

.footer-up {
  padding: 1.2rem;
}

.footer-down {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 1rem 1rem;
}

@media only screen and (max-width: 700px) {
  .google-logo-main {
    width: 10rem;
  }

  .search-input {
    width: 15rem;
    padding: 10px;
    font-size: 14px;
  }

  .extra-icons,
  .searchIcon {
    padding: 5px 10px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 600px) {
  .google-menu span {
    margin-left: 5px;
  }
  .google-menu span:nth-child(n + 3) {
    padding: 5px;
    font-size: 15px;
  }

  .search-input {
    width: 10rem;
    padding: 10px;
    font-size: 10px;
  }

  .search-buttons button {
    margin: 5px;
    padding: 5px 10px;
    font-size: 10px;
  }
  .language-options {
    margin-top: 20px;
    font-size: 8px;
  }
  .language-options a {
    margin-right: 5px;
    font-size: 8px;
  }

  .google-footer {
    flex-wrap: wrap;
  }

  .google-footer a {
    font-size: 10px;
    margin-left: 0.3rem;
  }
  .footer-up {
    padding: 0.4rem;
    font-size: 10px;
  }

  .footer-down {
    justify-content: space-around;
    padding: 1rem;
  }
}
